<div>
    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home">Startup Directory</a>
                <!-- Add image here  -->
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="home">Home</a></li>
                <li><a href="#">Donate</a></li>
                <li><a href="#">Any other stuff</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="signup"><button class="btn btn-danger"> Sign Up</button></a></li>
                <li><a href="login"><button class="btn btn-success">Login</button></a></li>
            </ul>
        </div>
    </nav>
</div>