<div class="container card">
    <div class="card-header">
        <h3>Login</h3>
    </div>

    <div class="card-body">
        <form class="form " #userlogin="ngForm" (ngSubmit)="loginUser()">
            <div class="form-group">
                <label for="email"> Email </label>
                <input type="email" class="form-control" name="username" [(ngModel)]="user.email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
            </div>
            <br>
            <div class="form-group">
                <label for="password"> Password </label>
                <input type="password" class="form-control" name="password" [(ngModel)]="user.passwd" minlength="6" required>
            </div>
            <br>
            <button class="btn btn-primary btn-config" [disabled]="userlogin.form.invalid">Confirm</button>
        </form>
    </div>
</div>
